In [68]:
import os

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [69]:
folder = '/home/isacar/workspace/HowToTrainYourMAMLPytorch/'
rows = []
cols = ['experiment', 'seed', 'test_accuracy']
for trial in os.listdir(folder):
    if 'mini' in trial:
        continue
    if not (trial.startswith('sca') or trial.startswith('maml')):
        continue
    experiment = trial[:-2]
    seed = int(trial[-1])
    try:
        logs_path = os.path.join(folder, trial, 'logs')
        test_path = os.path.join(logs_path, 'test_summary.csv')
        test_df = pd.read_csv(test_path)
        x = test_df.test_accuracy_mean.max()
        rows.append([experiment, seed, x])
    except FileNotFoundError as e:
        pass
df = pd.DataFrame(data=rows, columns=cols)

In [77]:
df

                        experiment  seed  test_accuracy
0      sca_cubs200_1_2_0.01_48_5_1     2       0.570311
1   maml++_cubs200_1_2_0.01_48_5_1     2       0.571111
2      sca_cubs200_5_2_0.01_48_5_1     0       0.702156
3      sca_cubs200_1_2_0.01_48_5_1     0       0.572333
4      sca_cubs200_5_2_0.01_48_5_1     1       0.698711
5      sca_cubs200_5_2_0.01_48_5_1     2       0.697889
6   maml++_cubs200_5_2_0.01_48_5_1     0       0.681467
7   maml++_cubs200_5_2_0.01_48_5_1     2       0.689667
8   maml++_cubs200_1_2_0.01_48_5_1     0       0.545711
9   maml++_cubs200_1_2_0.01_48_5_1     1       0.548756
10     sca_cubs200_1_2_0.01_48_5_1     1       0.595000
11  maml++_cubs200_5_2_0.01_48_5_1     1       0.674489

In [75]:
df.groupby('experiment').mean()

                                seed  test_accuracy
experiment
maml++_cubs200_1_2_0.01_48_5_1     1       0.555193
maml++_cubs200_5_2_0.01_48_5_1     1       0.681874
sca_cubs200_1_2_0.01_48_5_1        1       0.579215
sca_cubs200_5_2_0.01_48_5_1        1       0.699585

In [79]:
df.groupby('experiment').std() / np.sqrt(3) * 1.96

                                    seed  test_accuracy
experiment
maml++_cubs200_1_2_0.01_48_5_1  1.131607       0.015695
maml++_cubs200_5_2_0.01_48_5_1  1.131607       0.008597
sca_cubs200_1_2_0.01_48_5_1     1.131607       0.015512
sca_cubs200_5_2_0.01_48_5_1     1.131607       0.002562

In [91]:
sec_per_min = 60
min_per_hour = 60
rows = []
cols = ['experiment', 'seconds']
for trial in os.listdir(folder):
    if not (trial.startswith('sca') or trial.startswith('maml')):
        continue
    df = pd.read_csv(trial + '/logs/summary_statistics.csv')
    seconds = df.epoch_run_time.sum()
    minutes_tot = seconds / sec_per_min
    hours = np.floor(minutes_tot / min_per_hour)
    minutes = minutes_tot - hours * min_per_hour
    rows.append([trial[:-2], seconds])
df = pd.DataFrame(data=rows, columns=cols)

In [103]:
df['hours'] = df.seconds / sec_per_min / min_per_hour
df.groupby('experiment').mean()

                                           seconds     hours
experiment
maml++_cubs200_1_2_0.01_48_5_1         3892.959663  1.081378
maml++_cubs200_5_2_0.01_48_5_1         6396.351281  1.776764
maml++_mini-imagenet_1_2_0.01_48_5_1   7407.480956  2.057634
sca_cubs200_1_2_0.01_48_5_1           16145.301217  4.484806
sca_cubs200_5_2_0.01_48_5_1           13243.328898  3.678702
sca_mini-imagenet_1_2_0.01_48_5_1     27736.633947  7.704621

In [104]:
df.groupby('experiment').std()

                                          seconds     hours
experiment
maml++_cubs200_1_2_0.01_48_5_1         587.019774  0.163061
maml++_cubs200_5_2_0.01_48_5_1         222.883843  0.061912
maml++_mini-imagenet_1_2_0.01_48_5_1  1015.244972  0.282012
sca_cubs200_1_2_0.01_48_5_1           2740.281871  0.761189
sca_cubs200_5_2_0.01_48_5_1           1004.382327  0.278995
sca_mini-imagenet_1_2_0.01_48_5_1     2965.457850  0.823738